{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container" style="margin: 100px;">
    <p>This is the login page</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, ullam at? Laborum cumque pariatur iure amet
        magni sapiente excepturi quo doloribus earum ducimus recusandae ad, enim laudantium, fugiat atque maiores!
        Incidunt suscipit, tenetur praesentium, vitae, excepturi perferendis ab dolor consequatur temporibus quae
        labore. Magni mollitia ratione, libero ipsam obcaecati esse consectetur consequuntur sapiente inventore
        blanditiis facilis odio saepe quae, eos et ea corrupti fuga dolor maxime veniam consequatur! Blanditiis debitis
        ratione sequi, libero eius culpa tempora suscipit beatae assumenda? Aliquid unde modi est dolores? Ab, dolore
        explicabo, eveniet iusto perspiciatis praesentium, eos voluptatum placeat tempore at tempora expedita accusamus
        ex alias possimus. Aperiam aliquid, autem sit architecto ratione neque, quibusdam nemo maiores adipisci corporis
        eaque commodi tenetur perspiciatis perferendis modi nesciunt placeat tempora laboriosam dolor nulla veritatis
        aut eius blanditiis vitae! Tenetur alias doloribus veritatis! Doloribus est beatae odio possimus unde odit totam
        architecto similique praesentium, veniam aut officiis dicta cumque quod debitis laboriosam consectetur aliquid
        molestiae iure dolores dolore voluptatem harum amet. Voluptas sapiente magni, commodi fugit aliquam autem a eius
        similique voluptates labore, deserunt veritatis optio dolor suscipit, dolore nulla doloribus asperiores. Error
        ipsam ad alias unde ea provident debitis voluptates perferendis! Pariatur labore itaque mollitia distinctio
        impedit consequatur quae ipsam laboriosam in praesentium recusandae quaerat maiores, cum, quasi minima accusamus
        magnam veritatis dolorum officia consequuntur obcaecati doloremque. Tempora illum perspiciatis minima reiciendis
        fugit, vero, libero laborum sapiente, porro quas non consequatur molestiae? Necessitatibus, earum. Accusamus
        architecto sunt repellat quis iure repellendus a dolore ut adipisci. Nulla maxime, totam necessitatibus in quae
        assumenda vero mollitia quis accusantium itaque vel et suscipit laborum perspiciatis ab dolor possimus molestias
        nobis quos debitis aut. Obcaecati aliquid debitis sequi dolor alias, dignissimos corrupti beatae mollitia
        cupiditate ullam. Perferendis possimus debitis explicabo quas incidunt tenetur dicta dolor ratione totam,
        consectetur id eum minus tempora ducimus iure doloribus sit, rem sint, expedita ea ipsa! Beatae fuga fugiat
        aliquam, deserunt atque necessitatibus voluptate ad eaque amet, vel officia autem natus dolor itaque commodi
        nostrum facilis libero nulla quia. Accusantium eligendi ex culpa et earum. Ex ratione pariatur perferendis
        eveniet voluptatibus obcaecati rerum, sunt quis dicta, veniam aperiam natus quaerat illo magnam ipsa fugit
        dolore quo excepturi. Hic eligendi minima totam rem dolor enim vero minus, nihil neque ipsum dignissimos tempore
        temporibus? Illum aperiam atque, eius distinctio eos ea error, beatae quibusdam voluptatum recusandae nesciunt
        id ex consectetur! Laborum quas repudiandae explicabo quos? Numquam aspernatur, corrupti iure commodi dolores
        deleniti autem alias molestias blanditiis accusantium, quis illum quo officiis ratione. Corrupti accusamus nihil
        tempore quae, ducimus quia commodi ab illum debitis aperiam exercitationem eos, ipsum eum totam unde. At aut
        assumenda id consequatur blanditiis facilis inventore necessitatibus eius, deserunt maxime corporis quis harum
        et, provident quam tenetur obcaecati optio nam aliquam adipisci aspernatur. Id eius commodi delectus aperiam
        eveniet. Impedit aliquid eaque iusto temporibus quibusdam asperiores possimus nihil laboriosam nulla adipisci,
        id reprehenderit consequatur accusantium odio vel error sed quaerat voluptatem reiciendis recusandae. Est
        commodi quaerat non, ipsam saepe ex distinctio, eaque repellendus laudantium reiciendis vitae.</p>

</div>
{% endblock %}