{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block content %}

<div class="container" style="margin-top: 80px;">
    <h3>This is the registration page</h3>
    <form method="post" action="/register">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Full Name</label>
            <input type="text" required name="f_name" class="form-control w-50" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" required name="email" class="form-control w-50" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone Number</label>
            <input type="tel" required name="phone_number" class="form-control w-50" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" required name="password" class="form-control w-50" id="exampleInputPassword1">
        </div>
        <div class="modal-footer mt-3 justify-content-start">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>

{% endblock %}