{% extends 'base.html' %}
{% block title %} Stock {% endblock %}
{% block content %}

<div style="margin: 100px;">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Stock
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Stock</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/add_stock">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Product ID</label>
                            <input type="number" name="p_id" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Stock Quantity</label>
                                <input type="number" name="s_quantity" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add Stock</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin: 10px;">
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Stock ID</th>
                    <th>Product ID</th>
                    <th>Stock quantity</th>
                    <th>Created at</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stock_data %}
                <tr>
                    <td>{{ stock [0] }}</td>
                    <td>{{ stock [1] }}</td>
                    <td>{{ stock [2] }}</td>
                    <td>{{ stock [3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}